*{
    margin: 0;
    padding: 0;
}

.sky{
    height:100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: -144px;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: absolute;

}
.track{
    height: 60vh;
    width: 200%;
    background-image: url(track.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 70vh;
}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 70px;
}
.wheel1{
    width: 77px;
    position: relative;
    top: -5px;
    left: 13px;
    right: 10px;
}
.wheel1 img{
    width: 77px;
    position: relative;
    top: 44px;
    left: 33px;
}


.wheel2 img{
    width: 77px;
    position: relative;
    top: -40px;
    left: 234px;
}
